<%-include('./partials/header')%>
<div class="container-sm">
    <h1>Zapomniałeś hasła?</h1>
    <form action="" method="post">
        <label class="form-label" for="email">Podaj email</label>
        <input class="form-control" type="email" name="email" id="email">
        <br>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
</div>
<%-include('./partials/footer')%>