<%-include('./partials/header')%>
<div class="container-sm d-flex flex-column justify-content-center align-items-center " style="height: 100vh;">
    <h1>Program do resetowania hasła gdy go nie pamiętasz</h1>
     <a class="btn btn-warning my-4" href="/forgot-password">reset password</a>
</div>
<%-include('./partials/footer')%>